.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transaction-table {
    border-collapse: collapse;
}
table th,
table td {
    padding: 10px;
    border: 1px solid #2a2a2a;
}




.hero-modal {
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
}
.show-modal {
    opacity: 1;
}

.btn-active{
    background-color: blue;
}



.colorpicker_13{
    width: 130px;
    height: 130px;
    text-align: center;
    border: solid;
}
.color-swatch{
    width: 120px;
    height: 60px;
}
.colorpicker_13.is-active{
    transform: perspective(400px) rotate(10deg);
}

/* для картинок с лентвой загрузки */
.feed{
    list-style: none;
}

.feed li:not(:last-child){
    margin-bottom: 32px;
}

.feed img{
    transform: translateX(-50%);
    opacity: 0;
    transition: all 500ms linear 1000ms;
    width: 640px;
    height: 480px;
    object-fit: cover;
}

.feed img.appear {
    transform: translateX(0);
    opacity: 1;
}