.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transaction-table {
    border-collapse: collapse;
}
table th,
table td {
    padding: 10px;
    border: 1px solid #2a2a2a;
}